@charset "UTF-8";

body {
	
}

.container {
	display: flex;
	width: 100%;
	height: 100vh; /* 화면 전체 높이 */
}

.box {
	flex: 1; /* 1:1:1 비율 */
	border: 1px solid #000;
}

.left-box{
	width:300px;
	background-color: green;	
}

.right-box{
	width:300px;
	background-color: red;
}